.footer-bike-container {
  margin-left: 16.3vw;
  margin-right: 16.3vw;
}

.footer-bike {
  height: 4.5rem;
  background: rgba(0, 0, 0, 0.7);
}

.footer-text-left {
  color: #ffffff;
}

.icon-list {
  display: flex;
  flex-direction: row;
}

.icon-facebook {
  margin: 0 0.75rem;
  width: 24px;
  height: 24px;
  background-image: url(../images/footerIcons/icon-facebook.svg);
}
.icon-instagram {
  margin: 0 0.75rem;
  width: 24px;
  height: 24px;
  background-image: url(../images/footerIcons/icon-instagram.svg);
}
.icon-line {
  margin: 0 0 0 0.75rem;
  width: 24px;
  height: 24px;
  background-image: url(../images/footerIcons/icon-line.svg);
}

@media screen and (max-width: 600px) {
  .footer-bike-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-bike-container {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .icon-list {
    margin: 0.35rem 0 0 0;
  }
}

.footer-bike-plan-route-bg {
  background: rgba(0, 0, 0, 1);
}
