.page-title {
  color: white;

  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.main-content {
  margin-left: calc(16.3vw + 12px);
  margin-right: calc(16.3vw + 12px);
}

@media screen and (max-width: 992px) {
  .main-content {
    margin-left: calc(10vw + 12px);
    margin-right: calc(10vw + 12px);
  }