.nav-bike {
  background: rgba(0, 0, 0, 0.3);
}

.nav-bike-container {
  /* margin-left: 16.3vw;
  margin-right: 16.3vw; */
  margin-left: 16.3vw;
  margin-right: calc(16.3vw - 8px);
}

.nav-text-logo {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.nav-link-item {
  width: calc(7rem - 16px);
}

.nav-text {
  width: calc(7rem - 16px);
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-button {
  background: rgba(204, 204, 204, 0.35);
  border-radius: 8px;
}

#basic-nav-dropdown {
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .nav-bike-container {
    width: 100%;
    margin-left: 10vw;
    margin-right: unset;
  }
}

.nav-bike-plan-route {
  background: #1e1e1e;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.35);

  transition: 1.5s;
}

.nav-text-plan-route-color {
  color: #5368f0;

  transition: 1.5s;
}

.nav-logo-plan-route-bg {
  background: unset;

  transition: 1.5s;
}
