h1 {
  color: white;

  margin-top: 50vh;

  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.main-content {
  margin-left: calc(16.3vw + 12px);
}

.intro-text {
  color: white;
  width: 30.4vw;
}

.button-plan-route {
  width: 288px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background: rgba(138, 138, 138, 0.6);
  border-radius: 8px;

  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
