.nav-bike {
  background: rgba(0, 0, 0, 0.3);
}

.nav-bike-container {
  margin-left: calc(16.3vw - 12px);
  margin-right: calc(16.3vw - 12px);
}

.nav-text-logo {
  color: #ffffff;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.nav-link-item {
  width: calc(7rem - 16px);
}

.nav-text {
  width: calc(7rem - 16px);
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.login-button {
  background: rgba(204, 204, 204, 0.35);
  border-radius: 8px;
}

#basic-nav-dropdown {
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .nav-bike-container {
    margin-left: calc(10vw - 12px);
    margin-right: unset;
  }
}
